<header class="site-header">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <a class="d-md-none mr-3 close-offcanvas-main-menu btn round-btn btn-40-40 btn-outline" href="#" data-target="#site-header">
            <span class="adonis-icon icon-3x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-close"></use></svg></span>
        </a>
        <a class="brand d-flex align-items-center" href="/home">
            <span class="adonis-icon mr-md-2 mr-1 icon-5x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-brand-play"></use></svg></span>
            <strong class="p-1 fs-6 fs-md-8">Adonis</strong>
        </a>
        <div class="dropdown-menu-wrap ml-auto">
            <span class="pointer" data-toggle="dropdown"><span class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg" version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
            <div class="dropdown-menu dropdown-md dropdown-menu-right" role="menu">
                <span class="triangle adonis-icon drop-right"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="10" viewBox="0 0 1851 1024"><path d="M1834.153 925.301l-820.434-892.402c-23.746-19.978-54.664-32.116-88.418-32.116s-64.672 12.138-88.628 32.288l0.21-0.172c-47.293 47.293-773.141 836.884-822.49 894.458s4.112 100.755 86.361 100.755h1644.98c76.080 0 133.655-53.462 88.418-102.811z"></path></svg></span>
                <ul class="list-unstyled m-0">
                    <li class="nav-item"><a class="nav-link" href="#">About us</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Help &amp; Support</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Terms and Privacy</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Artist Originals</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Store</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Blog &amp; News</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Advertise</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>