.l-container {
  width: 80%;
  max-width: 1400px;
  margin: auto;
}
.l-header{
  height: 50px;
  width: 100%;
}
.l-login {
  float: right;
  font-size: 20px;
}
.l-body {
  margin-top: 30px;
}
div.box-h180{
  background-size: auto;
  height:  180px;
  width: 100%;
  background-repeat:  no-repeat;
  background-position: center;
}
.jp-playmode {
  color: #9f9af6 !important;
}