<% include ../layouts/head.ejs %>

<div class="l-container">
<div class="l-header">
    <a href="/login" class="l-login href-load">Login</a>
</div>
<div class="l-body">
    Hi. <br>
    Please contact me via skype.<br>
    My id is info.travisyates<br>
    my freelancer account is closed.<br>
    OMG

</div>
</div>
<% include ../layouts/footer.ejs %>
