<% include ../layouts/head.ejs %>

<div class="l-container">
<div class="l-header">
    <a href="/login" class="l-login href-load">Login</a>
</div>
<div class="l-body">
    Lading Page
</div>
</div>
<% include ../layouts/footer.ejs %>
