<% include ../layouts/head.ejs%>

    <div id="wrap" class="main-wrap d-flex flex-column align-content-between justify-content-between">
        <div class="fixed-layout-full d-flex flex-column">
            <div class="container-fluid height-100">
                <div class="row height-100">
                    <div id="site-header" class="col-md-3 height-100 pl-md-4 pr-md-4 flex-column-sidebar-md sidebar off-canvas off-canvas-off-md off-canvas-left"
                        data-close-offcanvas-below="768">
                        <div class="sidebar-bg-1"></div>
                        <div class="d-flex flex-column height-100">

                            <%  include ../layouts/header.ejs%>

                                <div class="sidenav-scroll scroll-y height-100 pt-5">
                                    <div class="pb-e-30">
                                        <ul class="list-unstyled d-flex justify-content-center">
                                            <li class="active">
                                                <a href="home" class="lt-side-btn btn btn-80-60 mr-e-10 btn-transparent">
                                                    <span class="adonis-icon pb-2">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 32 32"><path
                                                                d="M18.4 0h-4.8c-7.511 0-13.6 6.089-13.6 13.6v0 15.312c0 1.705 1.383 3.088 3.088 3.088h1.12c1.705 0 3.088-1.383 3.088-3.088v0-5.28c0-0.002 0-0.005 0-0.008 0-3.411-2.765-6.176-6.176-6.176 0 0 0 0 0 0h0.328v-3.632c0-6.831 5.537-12.368 12.368-12.368v0h4.368c6.831 0 12.368 5.537 12.368 12.368v0 3.632h0.328c-3.415 0-6.184 2.769-6.184 6.184v5.28c0 0 0 0 0 0 0 1.705 1.383 3.088 3.088 3.088 0.003 0 0.006 0 0.008 0h1.12c1.705 0 3.088-1.383 3.088-3.088v0-15.312c0-7.511-6.089-13.6-13.6-13.6v0zM1.448 18.896h0.64c2.050 0 3.712 1.662 3.712 3.712v0 6.088c0 1.025-0.831 1.856-1.856 1.856v0h-0.64c-1.025 0-1.856-0.831-1.856-1.856v0zM30.552 28.696c0 1.025-0.831 1.856-1.856 1.856v0h-0.64c-1.025 0-1.856-0.831-1.856-1.856v0-6.088c0-2.050 1.662-3.712 3.712-3.712v0h0.64z"></path></svg>
                                                    </span>
                                                    <p class="m-0">Music</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="radio" class="lt-side-btn btn btn-80-60 mr-e-10 btn-transparent">
                                                    <span class="adonis-icon pb-2">
                                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="15" viewBox="0 0 23 32"><path
                                                                d="M22.443 13.078c-0.4 0-0.724 0.324-0.724 0.724v0 2.172c0 5.598-4.538 10.136-10.136 10.136s-10.136-4.538-10.136-10.136v0-2.172c0-0.4-0.324-0.724-0.724-0.724s-0.724 0.324-0.724 0.724v0 2.172c0 0.007-0 0.015-0 0.023 0 6.143 4.781 11.169 10.826 11.559l0.034 0.002v1.523c-2.499 0.187-4.718 1.257-6.372 2.897l0.001-0.001h2.259c1.364-0.933 3.050-1.49 4.865-1.49s3.501 0.557 4.895 1.509l-0.030-0.019h2.259c-1.653-1.639-3.872-2.709-6.337-2.894l-0.034-0.002v-1.512c6.052-0.422 10.802-5.435 10.802-11.557 0-0.013-0-0.027-0-0.040v0.002-2.172c0-0.4-0.324-0.724-0.724-0.724v0zM11.584 23.266c3.998 0 7.24-3.241 7.24-7.24v0-8.786c0-3.998-3.241-7.24-7.24-7.24s-7.24 3.241-7.24 7.24v0 8.786c0 3.998 3.241 7.24 7.24 7.24v0zM5.792 7.24c0-3.199 2.593-5.792 5.792-5.792s5.792 2.593 5.792 5.792v0 8.786c0 3.199-2.593 5.792-5.792 5.792s-5.792-2.593-5.792-5.792v0z"></path></svg>
                                                    </span>
                                                    <p class="m-0">Radio</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="store" class="lt-side-btn btn btn-80-60 mr-e-10 btn-transparent">
                                                    <span class="adonis-icon pb-2"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                            width="16" viewBox="0 0 26 32"><path d="M23.77 8.909c-0.027-0.493-0.422-0.886-0.913-0.909l-0.002-0h-4.57v-2.003c0-3.302-2.458-5.997-5.485-5.997s-5.485 2.694-5.485 5.997v2.003h-4.57c-0.494 0.023-0.889 0.416-0.915 0.906l-0 0.002-1.83 22.003c-0.003 0.030-0.005 0.066-0.005 0.102 0 0.251 0.089 0.482 0.237 0.662l-0.001-0.002c0.164 0.198 0.41 0.324 0.684 0.326h23.77c0.273-0.004 0.516-0.13 0.677-0.325l0.001-0.002c0.15-0.179 0.241-0.413 0.241-0.667 0-0.033-0.002-0.066-0.005-0.099l0 0.004zM9.146 5.997c-0.002-0.049-0.004-0.107-0.004-0.164 0-2.057 1.617-3.736 3.649-3.835l0.009-0c2.041 0.1 3.658 1.779 3.658 3.836 0 0.058-0.001 0.115-0.004 0.172l0-0.008v2.003h-7.309zM1.92 29.997l1.664-20h3.738v2.278c-0.558 0.369-0.922 0.994-0.922 1.704 0 0.009 0 0.017 0 0.026v-0.001c-0.001 0.024-0.002 0.051-0.002 0.079 0 1.029 0.81 1.87 1.828 1.918l0.004 0c1.019-0.052 1.826-0.89 1.826-1.918 0-0.028-0.001-0.056-0.002-0.083l0 0.004c0-0.011 0-0.023 0-0.036 0-0.703-0.358-1.323-0.902-1.687l-0.007-0.005v-2.278h7.309v2.278c-0.551 0.369-0.909 0.988-0.909 1.692 0 0.013 0 0.025 0 0.038l-0-0.002c-0.001 0.024-0.002 0.051-0.002 0.079 0 1.027 0.807 1.866 1.821 1.918l0.005 0c1.022-0.048 1.832-0.889 1.832-1.918 0-0.028-0.001-0.055-0.002-0.083l0 0.004c0-0.008 0-0.019 0-0.029 0-0.707-0.361-1.33-0.908-1.695l-0.007-0.005v-2.278h3.738l1.658 20z"></path></svg></span>
                                                    <p class="m-0">Store</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pb-e-30">
                                        <div id="accordion-1" class="accordion">
                                            <div class="playlist-part">
                                                <h5 class="fs-1 l-s-2 sidebar-list-title pb-2 lt-side-menu-title title pointer" data-target="#collapse-librarymenu" data-toggle="collapse"
                                                    aria-expanded="true" aria-controls="collapse-librarymenu">YOUR
                                                    LIBRARY
                                                </h5>
                                                <div id="collapse-librarymenu" class="show" data-parent="#accordion-1">
                                                    <ul class="nav flex-column f-w-500 fs-3 lt-side-menu">
                                                        <li class="pb-2 active"><a href="recently-played">Recently Played</a></li>
                                                        <li class="pb-2"><a href="songs">Songs</a></li>
                                                        <li class="pb-2"><a href="albums">Albums</a></li>
                                                        <li class="pb-2"><a href="artists">Artists</a></li>
                                                        <li class="pb-2"><a href="my-like">My Like</a></li>
                                                        <li class="pb-2"><a href="purchased">Purchased</a></li>
                                                        <li class="pb-2"><a href="single-playlist">Single Playlist</a></li>
                                                        <li class="pb-2"><a href="single-artist">Single Artist</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-e-30">
                                        <div id="accordion-2" class="accordion">
                                            <div class="playlist-part">
                                                <h5 class="fs-1 l-s-2 sidebar-list-title pb-2  lt-side-menu-title title pointer" data-target="#collapse-playlists" data-toggle="collapse"
                                                    aria-expanded="true" aria-controls="collapse-playlists">YOUR
                                                    PLAYLISTS
                                                </h5>
                                                <div id="collapse-playlists" class="show" data-parent="#accordion-2">
                                                    <ul class="nav flex-column pt-e-10 pb-e-10 fs-3 f-w-500">
                                                        <li class="pb-e-10">
                                                            <span class="adonis-icon color-active-third">
                                                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" viewBox="0 0 17.98 17.17"><defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                isolation: isolate;
                                                                            }

                                                                            .cls-2 {
                                                                                fill-rule: evenodd;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <g data-name="Layer 2">
                                                                        <g class="cls-1">
                                                                            <g data-name="playlist icon">
                                                                                <path class="cls-2" d="M.42.93A.44.44,0,0,0,0,1.38a.44.44,0,0,0,.42.45.44.44,0,0,0,.42-.45A.44.44,0,0,0,.42.93Zm0,5.41a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Zm1.31.91H9.39a.45.45,0,0,0,.45-.45h0a.45.45,0,0,0-.45-.45H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,7.24Zm0-5.41H9.39a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,9.39.93H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,1.84ZM18,8.13h0Zm-.9-3.54,0,0h0A8.74,8.74,0,0,0,12.25.1.42.42,0,0,0,12.09,0L12,0V0h0a.43.43,0,0,0-.43.43v10.7A3.35,3.35,0,0,0,9,9.93a3.53,3.53,0,0,0-3.44,3.61A3.53,3.53,0,0,0,9,17.15a3.48,3.48,0,0,0,3.37-2.93.42.42,0,0,0,.06-.21V1.16A7.89,7.89,0,0,1,16.31,5h0a.44.44,0,0,0,0,.08.42.42,0,0,0,.59.16A.46.46,0,0,0,17.09,4.6ZM9,16.24a2.64,2.64,0,0,1-2.56-2.7A2.64,2.64,0,0,1,9,10.84a2.64,2.64,0,0,1,2.56,2.7A2.64,2.64,0,0,1,9,16.24Zm-4.73-4.5H1.73a.45.45,0,0,0-.45.45h0a.45.45,0,0,0,.45.45H4.27a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,4.27,11.74ZM12,17.17l.06,0H12ZM.42,11.74a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Z"
                                                                                />
                                                                            </g>
                                                                        </g>
                                                                    </g></svg></span>
                                                            <a href="#" class="pl-3 color-active-third">The Beats 1 list</a>
                                                        </li>
                                                        <li class="pb-e-10">
                                                            <span class="adonis-icon color-active-third">
                                                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="18" viewBox="0 0 17.98 17.17"><defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                isolation: isolate;
                                                                            }

                                                                            .cls-2 {
                                                                                fill-rule: evenodd;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <g data-name="Layer 2">
                                                                        <g data-name="playlist icon" class="cls-1">
                                                                            <g data-name="playlist icon">
                                                                                <path class="cls-2" d="M.42.93A.44.44,0,0,0,0,1.38a.44.44,0,0,0,.42.45.44.44,0,0,0,.42-.45A.44.44,0,0,0,.42.93Zm0,5.41a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Zm1.31.91H9.39a.45.45,0,0,0,.45-.45h0a.45.45,0,0,0-.45-.45H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,7.24Zm0-5.41H9.39a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,9.39.93H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,1.84ZM18,8.13h0Zm-.9-3.54,0,0h0A8.74,8.74,0,0,0,12.25.1.42.42,0,0,0,12.09,0L12,0V0h0a.43.43,0,0,0-.43.43v10.7A3.35,3.35,0,0,0,9,9.93a3.53,3.53,0,0,0-3.44,3.61A3.53,3.53,0,0,0,9,17.15a3.48,3.48,0,0,0,3.37-2.93.42.42,0,0,0,.06-.21V1.16A7.89,7.89,0,0,1,16.31,5h0a.44.44,0,0,0,0,.08.42.42,0,0,0,.59.16A.46.46,0,0,0,17.09,4.6ZM9,16.24a2.64,2.64,0,0,1-2.56-2.7A2.64,2.64,0,0,1,9,10.84a2.64,2.64,0,0,1,2.56,2.7A2.64,2.64,0,0,1,9,16.24Zm-4.73-4.5H1.73a.45.45,0,0,0-.45.45h0a.45.45,0,0,0,.45.45H4.27a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,4.27,11.74ZM12,17.17l.06,0H12ZM.42,11.74a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Z"
                                                                                />
                                                                            </g>
                                                                        </g>
                                                                    </g></svg></span>
                                                            <a href="#" class="pl-3 color-active-third">The love Summer</a>
                                                        </li>
                                                        <li class="pb-e-10">
                                                            <span class="adonis-icon color-active-third"><svg xmlns="http://www.w3.org/2000/svg"
                                                                    version="1.1" width="18" viewBox="0 0 17.98 17.17"><defs>
                                                                        <style>
                                                                            .cls-1 {
                                                                                isolation: isolate;
                                                                            }

                                                                            .cls-2 {
                                                                                fill-rule: evenodd;
                                                                            }
                                                                        </style>
                                                                    </defs>
                                                                    <g data-name="Layer 2">
                                                                        <g data-name="playlist icon" class="cls-1">
                                                                            <g data-name="playlist icon">
                                                                                <path class="cls-2" d="M.42.93A.44.44,0,0,0,0,1.38a.44.44,0,0,0,.42.45.44.44,0,0,0,.42-.45A.44.44,0,0,0,.42.93Zm0,5.41a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Zm1.31.91H9.39a.45.45,0,0,0,.45-.45h0a.45.45,0,0,0-.45-.45H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,7.24Zm0-5.41H9.39a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,9.39.93H1.73a.45.45,0,0,0-.45.45h0A.45.45,0,0,0,1.73,1.84ZM18,8.13h0Zm-.9-3.54,0,0h0A8.74,8.74,0,0,0,12.25.1.42.42,0,0,0,12.09,0L12,0V0h0a.43.43,0,0,0-.43.43v10.7A3.35,3.35,0,0,0,9,9.93a3.53,3.53,0,0,0-3.44,3.61A3.53,3.53,0,0,0,9,17.15a3.48,3.48,0,0,0,3.37-2.93.42.42,0,0,0,.06-.21V1.16A7.89,7.89,0,0,1,16.31,5h0a.44.44,0,0,0,0,.08.42.42,0,0,0,.59.16A.46.46,0,0,0,17.09,4.6ZM9,16.24a2.64,2.64,0,0,1-2.56-2.7A2.64,2.64,0,0,1,9,10.84a2.64,2.64,0,0,1,2.56,2.7A2.64,2.64,0,0,1,9,16.24Zm-4.73-4.5H1.73a.45.45,0,0,0-.45.45h0a.45.45,0,0,0,.45.45H4.27a.45.45,0,0,0,.45-.45h0A.45.45,0,0,0,4.27,11.74ZM12,17.17l.06,0H12ZM.42,11.74a.45.45,0,0,0,0,.91.45.45,0,0,0,0-.91Z"
                                                                                />
                                                                            </g>
                                                                        </g>
                                                                    </g></svg></span>
                                                            <a href="#" class="pl-3 color-active-third">Acounstic Classics</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn btn-primary btn-sm-wide box-rounded-md mt-e-10">New Playlist</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-e-30">
                                        <div>
                                            <label class="mr-4">Language </label>
                                            <img src="../assets/images/brand-logo/lang-flag.png" alt="">
                                        </div>
                                    </div>
                                    <div class="spacer pb-e-50 pt-e-50"></div>
                                </div>
                        </div>
                    </div>
                    <div class="height-100 col-md-9 order-md-2 flex-column-content-md p-0 d-flex flex-column">
                        <div id="site-content" class="scroll-y fixed-layout-full">
                            <div id="site-content-inner">
                                <div class="master-container-fluid">
                                    <main id="main">

                                        <%  include ../layouts/content-header.ejs%>

                                            <section>
                                                <div class="title-box">
                                                    <h2 class="title h3-md">Recently Played</h2>
                                                </div>
                                                <div class="row auto-columns auto-fit-columns adonis-animate" data-animation="slideRight" data-animation-item=".col-auto"
                                                    data-item-width="230" data-item-max-width="260">
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-7.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-2.jpg" data-2x="assets/images/new-releases/new-releases-2@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-3.jpg" data-2x="assets/images/new-releases/new-releases-3@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-10.jpg" data-2x="assets/images/new-releases/new-releases-3@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-3.jpg" data-2x="assets/images/new-releases/new-releases-3@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-16.jpg" data-2x="assets/images/new-releases/new-releases-3@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-5.jpg" data-2x="assets/images/new-releases/new-releases-3@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-10.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-11.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-12.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-4.jpg" data-2x="assets/images/new-releases/new-releases-4@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-13.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-5.jpg" data-2x="assets/images/new-releases/new-releases-5@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-14.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-6.jpg" data-2x="assets/images/new-releases/new-releases-6@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-15.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-7.jpg" data-2x="assets/images/new-releases/new-releases-7@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-16.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-8.jpg" data-2x="assets/images/new-releases/new-releases-8@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-17.jpg" data-2x="assets/images/new-releases/new-releases-1@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div class="music-img-box mb-e-30 mb-e-lg-40">
                                                            <div class="img-box box-rounded-sm">
                                                                <img class="retina" src="../assets/images/new-releases/new-releases-9.jpg" data-2x="assets/images/new-releases/new-releases-9@2x.jpg"
                                                                    alt="">
                                                                <div class="hover-state">
                                                                    <div class="absolute-bottom-left pl-e-20 pb-e-20">
                                                                        <span class="pointer play-btn-dark round-btn"><i
                                                                                class="play-icon"></i></span>
                                                                    </div>
                                                                    <div class="absolute-top-right pr-e-20 pt-e-20">
                                                                        <span class="pointer dropdown-menu-toggle"><span
                                                                                class="adonis-icon icon-4x"><svg xmlns="http://www.w3.org/2000/svg"
                                                                                    version="1.1"><use xlink:href="#icon-horizontal-dots"></use></svg></span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h6 class="title"><a href="#">Vestibulum nibh lorem ipsum</a></h6>
                                                            <p class="sub-title category"><a href="#">Adonis Music Pop</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pt-e-20 pt-e-lg-40"></div>
                                            </section>
                                    </main>
                                </div>
                            </div>
                            <!--/#site-content-inner-->
                            <div class="section-loader preloader fluid-reverse-r">
                                <div class="preloader-overlay"></div>
                            </div>
                        </div>
                        <!--/#site-content-->
                        <% include ./parts/player.ejs%>
                    </div>
                </div>
            </div>
        </div>
        <% include ../layouts/body-effects.ejs%>
    </div>






    <% include ../layouts/search-box.ejs%>


        <% include ../layouts/footer.ejs%>